
.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: #221c48;
}

.footer hr{
    width: 85%;
    align-self: center;
    margin: 30px;
}

.footer ul{
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.footer ul li a img{
    width: 25px;
    height:25px;
}

.footer ul li {
    margin-left: 100px;
}

ul li {
list-style-type: none;
}

ul li a{
    text-decoration: none;
}
.b1{
    width: 20px;
    height: 20px;
    position: relative;
    top: 150px;
    border-radius: 20px;
    background: transparent;
}

@media screen and (max-width: 391px) and (max-height: 845px){

    .footer{
        display: flex;
        left: 0;
        top: 0;
        right: 0;
        justify-content: space-around;
        flex-direction: column;
        padding: 1px;
        background-color: #221c48;
        font-size: 10px;
    }
    
    .footer ul{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:50px;
        width: 330px;
        padding-right: 30px;
    }
    .footer li{
        position: relative;
    }

    .footer ul li a img{
        width: 15px;
        height:15px;
    }
    .firstfooter-div{
        margin-left: 50px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .footer ul li {
        margin-left: 0px;
    }
    .footer  li {
        margin-left: 70px;
    }

    ul li {
    list-style-type: none;
    }
    
    ul li a{
        text-decoration: none;
    }
    ul{
        
    }
    li{
        margin-right: 30px;
     }
     
}