*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #221c48;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#141032;
}

.leftheader-div ul, .rightheader-div ul, .movies ul{
    display: flex;
    list-style-type: none;
}

.leftheader-div ul li, .rightheader-div ul li{
    margin-left: 50px;
    margin-right: 50px;
}

.main{
    background-color: #221c48;
    display: flex;
    flex-direction: column;
}

.first-main{
    padding: 5%;
    display: flex;
    justify-content: center;
}

.cinema{
    display: flex;
    width: 70%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 11px;
}

.main p{
    position: absolute;
    left: 350px;
    top: 200px;
    font-size: xx-large;
    width: 350px;
}

.main button{
    background-color: #B91515;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #B91515;
    font-size: xx-large;
    position: absolute;
    left: 400px;
    top: 500px;
}

.play{
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 12px;
    padding-left: 15px;
}

.about{
    width: 57px;
    height: 57px;
    background-color: #B91515;
    border-radius: 5px;
    border: 1px solid #B91515;
    position: absolute;
    top: 500px;
    left: 560px;
}

.aboutUs{
    border: 1px solid #B91515;
    background-color: #B91515;
    font-size:x-large;
    position: absolute;
    left:380px;
    top:500px;
    text-decoration: none;
    padding:15px;
    border-radius: 5px;
    width: 9%;
    text-align: center;
}

.trending{
    font-size: xx-large;
    margin-left: 11%;
    background-color: #221c48;
}

.second-main{
    display: flex;
    justify-content: center;
}

.movies{
    width: 80%;
    background-color: #141032;
    border-radius: 10px;
}

.movies ul{
    justify-content: center;
    padding: 15px;
}

.movie{
    height: 300px;
    width: 200px;
    margin: 25px;
}

.fourth{
    font-size: xx-large;
    margin-left: 20%;
    padding: 10px;
}

.third-main{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;
}

.industry{
    background-color: #141032;
    width: 60%;
    align-self: center;
    border-radius: 10px;
}

.industry ul li img{
    width: 300px;
    margin-right: 50px;
}

.industry ul ul{
    display: flex;
    padding: 30px;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: #221c48;
}

.footer hr{
    width: 85%;
    align-self: center;
    margin: 30px;
}

.footer ul{
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.footer ul li a img{
    width: 25px;
    height:25px;
}

.footer ul li {
    margin-left: 100px;
}

ul li {
list-style-type: none;
}

ul li a{
    text-decoration: none;
}