*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:white;
    font-size: large;
}
/*--------------*/
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:40px;
    color:white;
}
input{
    width:500px;
    height:30px;
    color:white;
    border:none;
    border-bottom: 2px solid white;
}
input,label{
    margin:15px;
    margin-left:33%;
}
h2{
    text-align: center;
}
.submit{
    width:250px;
    height:40px;
    margin-top:40px;
    margin-left: 42%;
    border:2px solid white;
}
/*-------------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:6%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}


/*Responsive for IPhoneX*/
@media only screen and (max-width:400px){
    *{
        font-size: xx-small;
    }
    .header ul li a{
        font-size: small;
    }
    .footer{
        padding:0;
    }
    #hr-separate{
        margin-left: 40px;
        margin-top:0;
    }
    .inner-list{
        margin-left: 10px;
        margin-top: 15px;
    }
    .footer ul li img{
        width:40px;
        height:15px;
    }
    .first-footer-ul li:nth-child(2){
        display: none;
    }
    .main-list{
        margin-left: 15px;
    }
    .socials img{
        width: 30px;
        height:30px;
    }
    input, label{
        margin-left:15px;
    }
    input{
        width:auto;
    }
    .submit{
        margin-left: 40px;
        width: 200px;
        height: 30px;
    }
}

/*Page responsive for Tablet*/
@media only screen and (min-width:750px) and (max-width:800px){
    *{
        font-size: small;
    }
    .footer{
        padding:40px;
    }
    .inner-list{
        margin-left: 40px;
    }
    #hr-separate{
        margin-left: 10%;
        margin-top: 20px;
    }
    .socials img{
        height: 40px;
        width: 40px;
    }
    input, label{
        margin-left:15%;
    }
    .submit{
        margin-left: 30%;
        height: 40px;
    }
}
