*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #221c48;
}

.login{
    background-color: #141032;
    width: 500px;
    height: 500px;
    margin-top: 80px;
    margin-left: 50%;
    margin-bottom: 150px;
}

.right-div{
    position: absolute;
    left: 19%;
}

h1{
    font-family: cursive;
    margin-top: 5%;
    font-weight: bolder;
    color: white;
}

h4{
    margin-top: 10%;
    font-weight: lighter;
    font-size: x-large;
    color: white;
}

p{
    margin-top: 5%;
    color: gray;
}

.register{
    color: gray;
    text-decoration: none;
}

.googlelink{
    color: #141032;
    text-decoration: none;
    padding: 10%;
}

.rightimg{
    width: 500px;
    height: 500px;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
}

input{
    width: 220px;
    height: 40px;
    margin-top: 35px;
    text-align: center;
    border-radius: 10px;
    border: none;
    border: solid 1px white;
    color: black;
}

.usericon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 253px;
    left: 904px;
}

.passwordicon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 330px;
    left: 904px;
}

.googleicon{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 538px;
    left: 936px;
}

.loginbutton{
    border-radius: 25px;
    margin-top: 35px;
    width: 220px;
    height: 35px;
    background-color: gray;
    text-align: center;
    border: none;
}

.googlebutton{
    border-radius: 25px;
    margin-top: 20px;
    width: 220px;
    height: 35px;
    background-color: white;
    text-align: center;
    border: none;
    border: solid 1px white;
    text-align: right;
}


@media screen and (max-width: 391px) and (max-height: 845px){
    .header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color:#141032;
        width: 250%;
        margin-left: -62px;
        font-size: 6pt;
    }
    
    .leftheader-div ul, .rightheader-div ul, .movies ul{
        display: flex;
        list-style-type: none;
    }
    
    .leftheader-div ul li, .rightheader-div ul li{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .login{
        background-color: #141032;
        width: 250px;
        height: 690px;
        margin-top: 80px;
        margin-left: 42px;
    }
    
    .right-div{
        position: absolute;
        left: 42px;
    }
    
    h1{
        font-family: cursive;
        margin-top: 175%;
        font-weight: bolder;
        color: white;
        font-size: larger;
    }
    
    h4{
        margin-top: 10%;
        font-weight: lighter;
        font-size: initial;
        color: white;
    }
    
    p{
        margin-top: 10%;
        color: gray;
        margin-left: 18px;
    }
    
    .register{
        color: gray;
        text-decoration: none;
    }
    
    .googlelink{
        color: #141032;
        text-decoration: none;
        padding: 10%;
    }
    
    .rightimg{
        width: 250px;
        height: 250px;
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        margin: 50px;
        align-items: center;
    }
    
    input{
        width: 185px;
        height: 25px;
        margin-top: 35px;
        text-align: center;
        border-radius: 10px;
        border: none;
        border: solid 1px white;
        color: black;
    }
    
    .usericon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 489px;
        left: 82px;
    }
    
    .passwordicon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 553px;
        left: 82px;
    }
    
    .googleicon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 743px;
        left: 88px;
    }
    
    .loginbutton{
        border-radius: 25px;
        margin-top: 35px;
        width: 185px;
        height: 25px;
        background-color: gray;
        text-align: center;
        border: none;
    }
    
    .googlebutton{
        border-radius: 25px;
        margin-top: 20px;
        width: 185px;
        height: 25px;
        background-color: white;
        text-align: center;
        border: none;
        border: solid 1px white;
        text-align: right;
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        background-color: #221c48;
    }
    
    .footer hr{
        width: 100%;
        align-self: center;
        margin: 30px;
    }
    
    .footer ul{
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }
    
    .footer ul li a img{
        width: 20px;
        height:20px;
    }
    
    .footer ul li {
        margin-left: 15px;
        font-size: 6pt;
    }
    
    ul li {
    list-style-type: none;
    }
    
    ul li a{
        text-decoration: none;
    }
}

@media screen and (max-width: 769px) and (max-height: 1025px){
    .header{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color:#141032;
        width: 250%;
        margin-left: -62px;
        font-size: 6pt;
    }
    
    .leftheader-div ul, .rightheader-div ul, .movies ul{
        display: flex;
        list-style-type: none;
    }
    
    .leftheader-div ul li, .rightheader-div ul li{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .login{
        background-color: #141032;
        width: 352px;
        height: 690px;
        margin-top: 80px;
        margin-left: 205px;
    }
    
    .right-div{
        position: absolute;
        left: 204px;
    }
    
    h1{
        font-family: cursive;
        margin-top: 113%;
        font-weight: bolder;
        color: white;
        font-size: larger;
    }
    
    h4{
        margin-top: 10%;
        font-weight: lighter;
        font-size: initial;
        color: white;
    }
    
    p{
        margin-top: 6%;
        color: gray;
        margin-left: 18px;
        font-size: 11pt;
    }
    
    .register{
        color: gray;
        text-decoration: none;
    }
    
    .googlelink{
        color: #141032;
        text-decoration: none;
        padding: 10%;
    }
    
    .rightimg{
        width: 352px;
        height: 270px;
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        margin: 50px;
        align-items: center;
    }
    
    input{
        width: 220px;
        height: 30px;
        margin-top: 35px;
        text-align: center;
        border-radius: 10px;
        border: none;
        border: solid 1px white;
        color: black;
    }
    
    .usericon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 475px;
        left: 276px;
    }
    
    .passwordicon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 544px;
        left: 276px;
    }
    
    .googleicon{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 723px;
        left: 307px;
    }
    
    .loginbutton{
        border-radius: 25px;
        margin-top: 35px;
        width: 220px;
        height: 30px;
        background-color: gray;
        text-align: center;
        border: none;
    }
    
    .googlebutton{
        border-radius: 25px;
        margin-top: 20px;
        width: 166px;
        height: 30px;
        background-color: white;
        text-align: center;
        border: none;
        border: solid 1px white;
        text-align: right;
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        background-color: #221c48;
    }
    
    .footer hr{
        width: 100%;
        align-self: center;
        margin: 30px;
    }
    
    .footer ul{
        display: flex;
        justify-content: center;
        margin-top: 6px;
    }
    
    .footer ul li a img{
        width: 20px;
        height:20px;
    }
    
    .footer ul li {
        margin-left: 15px;
        font-size: 6pt;
    }
    
    ul li {
    list-style-type: none;
    }
    
    ul li a{
        text-decoration: none;
    }
}