*{
    margin:0;
    padding:0;
    background-color: #191b1f;
    font-family: century gothic;
}
.header{
    height:50px;
    opacity: 0.8;
}
.header ul{
    display: flex;
    position: relative;
    top:15px;
    bottom:15px;
    justify-content: space-evenly;
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color:white;
    font-size: large;
}
/*----------------------------*/
.main{
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    display:flex;
    flex-direction: column;
}
.first-main{
    display:flex;
    justify-content: center;
    margin-bottom: 5%;
    color:white;
}

.first-main a{
    text-decoration: none;
    color:white;
    width: 200px;
    height: 25px;
    text-align: center;
    margin-left:100px;
}
.inn-list li{
    list-style-type: none;
    text-align: center;
    color:white;
}
.inn-list li img{
    height:300px;
    width:300px;
    border-radius: 10px;
}
.inn-list li a{
    text-decoration: none;
    color:aliceblue;
}
#del-link{
    color: rgb(223, 0, 0);
}
/*-------------------------*/
.footer{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left:6%;
    padding-bottom: 50px;
}
.main-list{
    display: flex;
    list-style: none;
}
.inner-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    margin-left:150px;
}
.footer ul li img{
    width:120px;
    height:30px;
}
#hr-separate{
    width:80%;
    margin-top:100px;
    margin-left: 150px;
}
/*---------------------------*/
.socials{
    display: flex;
    justify-content: center;
    padding:30px;
}
.socials img{
    width:50px;
    height:50px;
}

/*Responsive for IPhoneX*/
@media only screen and (max-width:400px){
    *{
        font-size: xx-small;
    }
    .header ul li a{
        font-size: small;
    }

    .footer{
        padding:0;
    }
    #hr-separate{
        margin-left: 40px;
        margin-top:0;
    }
    .inner-list{
        margin-left: 10px;
        margin-top: 15px;
    }
    .footer ul li img{
        width:40px;
        height:15px;
    }
    .first-footer-ul li:nth-child(2){
        display: none;
    }
    .main-list{
        margin-left: 15px;
    }
    .socials img{
        width: 30px;
        height:30px;
    }
    .inn-list li img {
        height: 180px;
        width: 180px;
    }
    .first-main{
        margin-bottom: 10%;
    }
}

/*Responsive for IPad*/
@media only screen and (min-width:750px) and (max-width:800px){
    *{
        font-size: small;
    }
    .footer{
        padding:40px;
    }
    .inner-list{
        margin-left: 40px;
    }
    #hr-separate{
        margin-left: 10%;
    }
    .socials img{
        height: 40px;
        width: 40px;
    }
}