*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #221c48;
}


.signup{
    background-color: white;
    width: 540px;
    height: 540px;
    margin-top: 80px;
    margin-left: 18%;
}

.left-div{
    position: absolute;
    left: 53%;
    top: 138px;
}

h1{
    font-family: cursive;
    margin-top: 5%;
    font-weight: bolder;
    color: #141032;
}

p{
    margin-top: 3%;
    color: #141032;
}

.login{
    color: #141032;
    text-decoration: none;
}

.leftimg{
    width: 540px;
    height: 540px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
}

input{
    width: 220px;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    border: solid 1px #141032;
    color: black;
}

.signupbutton{
    border-radius: 25px;
    margin-top: 35px;
    width: 220px;
    height: 35px;
    background-color: #141032;
    text-align: center;
    border: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: #221c48;
}

.footer hr{
    width: 85%;
    align-self: center;
    margin: 30px;
}

.footer ul{
    display: flex;
    justify-content: center;
    margin-top:50px;
}

.footer ul li a img{
    width: 25px;
    height:25px;
}

.footer ul li {
    margin-left: 100px;
}

ul li {
list-style-type: none;
}

ul li a{
    text-decoration: none;
}